@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

    /* fonts */
    --font-Manrope: 'Manrope', sans-serif;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: var(--Dark-Blue);
}

/*-------------------------------------- attribution ----------------------------------------- */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}